:root{
    --my-emerald: #8EB69B;
    --my-dark: #0B2B26;
    --my-bg: #DAF1DE;
    --my-box-bg: #F1FDF0;
    --my-red: #AC2647;
    --my-green: #84C481;
}
.flex-row-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size:1.8rem;
}

.choice-container:hover{
    cursor:pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(71, 93, 74, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-container{
    flex-direction: row;
    flex-basis: 30%;
    background-color: var(--my-box-bg);
    text-align: center;
}

.choice-prefix{
    padding: 1.5rem 2.5rem;
    background-color: var(--my-emerald);
    color: var(--my-box-bg);
}

.choice-text{
    padding: 1.5rem;
    width:100%;
}

.correct{
    background-color: var(--my-green);
}

.incorrect{
    background-color: var(--my-red);
}

.frame{
    border: var(--my-emerald) 0.2rem solid;
}

#question{
    padding: 2rem;
    text-align: center;
    background-color: var(--my-box-bg);
}

/* HEADS UP DISPLAY */

#hud{
    display: flex;
    justify-content: space-between;
}

.hud-prefix{
    text-align: center;
    font-size: 2rem;
    margin-top: 5rem;
}

.hud-main-text{
    text-align: center;
}

